.truncate {
  width: initial;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.square-card {
  width: 350px;
  height: 350px;
  margin: 8px auto;
  padding: 8px;
  background-color: #eee;
}

.square-card > .mdl-card__title {
  color: #fff;
}

#cardContent {
  background-color: #e0e0e0;
}
#cardAction {
  background-color: #51cada;
}
#cardHeader {
  padding-bottom: 0;
}
.mdl-layout__header {
  background-color: #51cada;
}
#tabPreview {
  z-index: 3;
  width: 90%;
  height: 90%;
}
#previewImage {
  width: inherit;
  height: inherit;
  background-repeat: no-repeat;
  background-size: contain;
}